---
import ProjectCard from "@shared/components/ProjectCard.astro";
---

<section class="projects flex flex-col gap-3 w-full min-h-screen bg-gray-100 dark:bg-gray-900" id="projects">
    <span class="flex items-center justify-center mt-7 px-4 py-3 w-40 h-8 rounded-xl mx-auto bg-gray-200 dark:bg-gray-700">
        <h2 class="font-medium text-gray-600 dark:text-gray-300">Projects</h2>
    </span>

    <div class="flex items-center justify-center">
        <p class="text-xl pb-4 text-gray-600 dark:text-gray-300">Some of the noteworthy projects I have built:</p>
    </div>

    <div class="projects-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-4 w-full max-w-4/5 mx-auto">
        <ProjectCard />        
    </div>

    <div class="w-full max-w-4/5 mx-auto mt-4 mb-16">
        <div class="flex flex-wrap gap-2">
            <a class="inline-flex bg-gray-900 text-white dark:bg-gray-50 dark:text-gray-900 text-lg items-center font-medium py-3 px-4 rounded-xl" href="https://github.com/Saul-Lara">
                <iconify-icon icon="octicon:repo-pull-16" width="20" height="20" class="pr-2"></iconify-icon>
                <span>Browse all</span>
            </a>
        </div>
    </div>

</section>