---
import BaseAstro from "../components/baseAstro.astro";
import Header from "../components/Header/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <BaseAstro {title} {description} />
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
